.portfolio {
  position: relative;

  .portfoliosection {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    div {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      display: grid;
      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin: auto;
      }
    }
  }
}
