.skills {
  display: flex;
  max-width: 1366px;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 4px;

  .skillscontainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    height: 100%;
    width: 50%;

    .aboutme {
      margin: auto;
      padding-right: 5px;
      padding-left: 5px;
      max-width: 350px;

      h1 {
        margin-top: 16px;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 4px;
      }
      text-align: justify;
    }

    .skillsimage {
      margin: auto;
      @media screen and (max-width: 768px) {
        margin-top: 8px;
        margin-bottom: 16px;
      }
    }
  }

  .git {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    height: 100%;
    width: 50%;
    @media screen and (max-width: 768px) {
      gap: 0px;
      margin-top: 12px;
      margin-bottom: 12px;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
    }

    .stats {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-direction: column;
      img {
        width: 80%;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    .aboutme {
      width: 100%;
    }
    .skillscontainer,
    .git {
      width: 100%;
    }
  }
}
